<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>This is a home page</h1>
        <h2><%=title %></h2>
        <% messages.forEach(message => { %>
            <ul>
                <li>Text: <%=message.text  %> </li>
                <li>User: <%=message.user  %> </li>
                <li>Added: <%=message.added  %> </li>
            </ul>
        <% }); %>
    </body>
</html>