<html>

<head>
    <title>Message Detail</title>
</head>

<body>
    <h1>Message Detail</h1>
    <li>User: <%=message.user %></li>
    <li>Message: <%=message.text %></li>
    <li>Added: <%=message.added %></li>
</body>

</html>