<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <h1>This is a form page</h1>
        <form method="post" action="/new">
            <label for="username">Author: </label>
            <input type="text" name="username">
            <label for="text">Message: </label>
            <input type="text" name="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>